.border-2 {
  border: 1px solid #64748b;
}

.border-3 {
  border: 2px solid #64748b;
}

.border-4 {
  border: 3px solid #64748b;
}

.border-5 {
  border: 4px solid #64748b;
}

.border-6 {
  border: 5px solid #64748b;
}

.border-7 {
  border: 6px solid #64748b;
}

.border-8 {
  border: 7px solid #64748b;
}

.border-9 {
  border: 8px solid #64748b;
}

.border-10 {
  border: 9px solid #64748b;
}

.border-11 {
  border: 10px solid #64748b;
}

.border-12 {
  border: 11px solid #64748b;
}

.border-13 {
  border: 12px solid #64748b;
}

.border-14 {
  border: 13px solid #64748b;
}

.border-15 {
  border: 14px solid #64748b;
}

.border-16 {
  border: 15px solid #64748b;
}

.border-17 {
  border: 16px solid #64748b;
}

.border-18 {
  border: 17px solid #64748b;
}

.border-19 {
  border: 18px solid #64748b;
}

.border-20 {
  border: 19px solid #64748b;
}

.border-21 {
  border: 20px solid #64748b;
}

.border-22 {
  border: 21px solid #64748b;
}

.border-23 {
  border: 22px solid #64748b;
}

.border-24 {
  border: 23px solid #64748b;
}

.border-25 {
  border: 24px solid #64748b;
}

.border-26 {
  border: 25px solid #64748b;
}

.border-27 {
  border: 26px solid #64748b;
}

.border-28 {
  border: 27px solid #64748b;
}

.border-29 {
  border: 28px solid #64748b;
}

.border-30 {
  border: 29px solid #64748b;
}

.border-31 {
  border: 30px solid #64748b;
}

.border-32 {
  border: 31px solid #64748b;
}

.border-33 {
  border: 32px solid #64748b;
}

.border-34 {
  border: 33px solid #64748b;
}

.border-35 {
  border: 34px solid #64748b;
}

.border-36 {
  border: 35px solid #64748b;
}

.border-37 {
  border: 36px solid #64748b;
}

.border-38 {
  border: 37px solid #64748b;
}

.border-39 {
  border: 38px solid #64748b;
}

.border-40 {
  border: 39px solid #64748b;
}

.border-41 {
  border: 40px solid #64748b;
}

.border-42 {
  border: 41px solid #64748b;
}

.border-43 {
  border: 42px solid #64748b;
}

.border-44 {
  border: 43px solid #64748b;
}

.border-45 {
  border: 44px solid #64748b;
}

.border-46 {
  border: 45px solid #64748b;
}

.border-47 {
  border: 46px solid #64748b;
}

.border-48 {
  border: 47px solid #64748b;
}

.border-49 {
  border: 48px solid #64748b;
}

.border-50 {
  border: 49px solid #64748b;
}

.border-51 {
  border: 50px solid #64748b;
}

.border-52 {
  border: 51px solid #64748b;
}

.border-53 {
  border: 52px solid #64748b;
}

.border-54 {
  border: 53px solid #64748b;
}

.border-55 {
  border: 54px solid #64748b;
}

.border-56 {
  border: 55px solid #64748b;
}

.border-57 {
  border: 56px solid #64748b;
}

.border-58 {
  border: 57px solid #64748b;
}

.border-59 {
  border: 58px solid #64748b;
}

.border-60 {
  border: 59px solid #64748b;
}

.border-61 {
  border: 60px solid #64748b;
}

.border-62 {
  border: 61px solid #64748b;
}

.border-63 {
  border: 62px solid #64748b;
}

.border-64 {
  border: 63px solid #64748b;
}

.border-65 {
  border: 64px solid #64748b;
}

.border-66 {
  border: 65px solid #64748b;
}

.border-67 {
  border: 66px solid #64748b;
}

.border-68 {
  border: 67px solid #64748b;
}

.border-69 {
  border: 68px solid #64748b;
}

.border-70 {
  border: 69px solid #64748b;
}

.border-71 {
  border: 70px solid #64748b;
}

.border-72 {
  border: 71px solid #64748b;
}

.border-73 {
  border: 72px solid #64748b;
}

.border-74 {
  border: 73px solid #64748b;
}

.border-75 {
  border: 74px solid #64748b;
}

.border-76 {
  border: 75px solid #64748b;
}

.border-77 {
  border: 76px solid #64748b;
}

.border-78 {
  border: 77px solid #64748b;
}

.border-79 {
  border: 78px solid #64748b;
}

.border-80 {
  border: 79px solid #64748b;
}

.border-81 {
  border: 80px solid #64748b;
}

.border-82 {
  border: 81px solid #64748b;
}

.border-83 {
  border: 82px solid #64748b;
}

.border-84 {
  border: 83px solid #64748b;
}

.border-85 {
  border: 84px solid #64748b;
}

.border-86 {
  border: 85px solid #64748b;
}

.border-87 {
  border: 86px solid #64748b;
}

.border-88 {
  border: 87px solid #64748b;
}

.border-89 {
  border: 88px solid #64748b;
}

.border-90 {
  border: 89px solid #64748b;
}

.border-91 {
  border: 90px solid #64748b;
}

.border-92 {
  border: 91px solid #64748b;
}

.border-93 {
  border: 92px solid #64748b;
}

.border-94 {
  border: 93px solid #64748b;
}

.border-95 {
  border: 94px solid #64748b;
}

.border-96 {
  border: 95px solid #64748b;
}

.border-97 {
  border: 96px solid #64748b;
}

.border-98 {
  border: 97px solid #64748b;
}

.border-99 {
  border: 98px solid #64748b;
}

.border-100 {
  border: 99px solid #64748b;
}

.border-101 {
  border: 100px solid #64748b;
}

.border-102 {
  border: 101px solid #64748b;
}

.border-103 {
  border: 102px solid #64748b;
}

.border-104 {
  border: 103px solid #64748b;
}

.border-105 {
  border: 104px solid #64748b;
}

.border-106 {
  border: 105px solid #64748b;
}

.border-107 {
  border: 106px solid #64748b;
}

.border-108 {
  border: 107px solid #64748b;
}

.border-109 {
  border: 108px solid #64748b;
}

.border-110 {
  border: 109px solid #64748b;
}

.border-111 {
  border: 110px solid #64748b;
}

.border-112 {
  border: 111px solid #64748b;
}

.border-113 {
  border: 112px solid #64748b;
}

.border-114 {
  border: 113px solid #64748b;
}

.border-115 {
  border: 114px solid #64748b;
}

.border-116 {
  border: 115px solid #64748b;
}

.border-117 {
  border: 116px solid #64748b;
}

.border-118 {
  border: 117px solid #64748b;
}

.border-119 {
  border: 118px solid #64748b;
}

.border-120 {
  border: 119px solid #64748b;
}

.border-121 {
  border: 120px solid #64748b;
}

.border-122 {
  border: 121px solid #64748b;
}

.border-123 {
  border: 122px solid #64748b;
}

.border-124 {
  border: 123px solid #64748b;
}

.border-125 {
  border: 124px solid #64748b;
}

.border-126 {
  border: 125px solid #64748b;
}

.border-127 {
  border: 126px solid #64748b;
}

.border-128 {
  border: 127px solid #64748b;
}

.border-129 {
  border: 128px solid #64748b;
}

.border-130 {
  border: 129px solid #64748b;
}

.border-131 {
  border: 130px solid #64748b;
}

.border-132 {
  border: 131px solid #64748b;
}

.border-133 {
  border: 132px solid #64748b;
}

.border-134 {
  border: 133px solid #64748b;
}

.border-135 {
  border: 134px solid #64748b;
}

.border-136 {
  border: 135px solid #64748b;
}

.border-137 {
  border: 136px solid #64748b;
}

.border-138 {
  border: 137px solid #64748b;
}

.border-139 {
  border: 138px solid #64748b;
}

.border-140 {
  border: 139px solid #64748b;
}

.border-141 {
  border: 140px solid #64748b;
}

.border-142 {
  border: 141px solid #64748b;
}

.border-143 {
  border: 142px solid #64748b;
}

.border-144 {
  border: 143px solid #64748b;
}

.border-145 {
  border: 144px solid #64748b;
}

.border-146 {
  border: 145px solid #64748b;
}

.border-147 {
  border: 146px solid #64748b;
}

.border-148 {
  border: 147px solid #64748b;
}

.border-149 {
  border: 148px solid #64748b;
}

.border-150 {
  border: 149px solid #64748b;
}

.border-151 {
  border: 150px solid #64748b;
}

.border-152 {
  border: 151px solid #64748b;
}

.border-153 {
  border: 152px solid #64748b;
}

.border-154 {
  border: 153px solid #64748b;
}

.border-155 {
  border: 154px solid #64748b;
}

.border-156 {
  border: 155px solid #64748b;
}

.border-157 {
  border: 156px solid #64748b;
}

.border-158 {
  border: 157px solid #64748b;
}

.border-159 {
  border: 158px solid #64748b;
}

.border-160 {
  border: 159px solid #64748b;
}

.border-161 {
  border: 160px solid #64748b;
}

.border-162 {
  border: 161px solid #64748b;
}

.border-163 {
  border: 162px solid #64748b;
}

.border-164 {
  border: 163px solid #64748b;
}

.border-165 {
  border: 164px solid #64748b;
}

.border-166 {
  border: 165px solid #64748b;
}

.border-167 {
  border: 166px solid #64748b;
}

.border-168 {
  border: 167px solid #64748b;
}

.border-169 {
  border: 168px solid #64748b;
}

.border-170 {
  border: 169px solid #64748b;
}

.border-171 {
  border: 170px solid #64748b;
}

.border-172 {
  border: 171px solid #64748b;
}

.border-173 {
  border: 172px solid #64748b;
}

.border-174 {
  border: 173px solid #64748b;
}

.border-175 {
  border: 174px solid #64748b;
}

.border-176 {
  border: 175px solid #64748b;
}

.border-177 {
  border: 176px solid #64748b;
}

.border-178 {
  border: 177px solid #64748b;
}

.border-179 {
  border: 178px solid #64748b;
}

.border-180 {
  border: 179px solid #64748b;
}

.border-181 {
  border: 180px solid #64748b;
}

.border-182 {
  border: 181px solid #64748b;
}

.border-183 {
  border: 182px solid #64748b;
}

.border-184 {
  border: 183px solid #64748b;
}

.border-185 {
  border: 184px solid #64748b;
}

.border-186 {
  border: 185px solid #64748b;
}

.border-187 {
  border: 186px solid #64748b;
}

.border-188 {
  border: 187px solid #64748b;
}

.border-189 {
  border: 188px solid #64748b;
}

.border-190 {
  border: 189px solid #64748b;
}

.border-191 {
  border: 190px solid #64748b;
}

.border-192 {
  border: 191px solid #64748b;
}

.border-193 {
  border: 192px solid #64748b;
}

.border-194 {
  border: 193px solid #64748b;
}

.border-195 {
  border: 194px solid #64748b;
}

.border-196 {
  border: 195px solid #64748b;
}

.border-197 {
  border: 196px solid #64748b;
}

.border-198 {
  border: 197px solid #64748b;
}

.border-199 {
  border: 198px solid #64748b;
}

.border-200 {
  border: 199px solid #64748b;
}

.border-201 {
  border: 200px solid #64748b;
}

.border-202 {
  border: 201px solid #64748b;
}

.border-203 {
  border: 202px solid #64748b;
}

.border-204 {
  border: 203px solid #64748b;
}

.border-205 {
  border: 204px solid #64748b;
}

.border-206 {
  border: 205px solid #64748b;
}

.border-207 {
  border: 206px solid #64748b;
}

.border-208 {
  border: 207px solid #64748b;
}

.border-209 {
  border: 208px solid #64748b;
}

.border-210 {
  border: 209px solid #64748b;
}

.border-211 {
  border: 210px solid #64748b;
}

.border-212 {
  border: 211px solid #64748b;
}

.border-213 {
  border: 212px solid #64748b;
}

.border-214 {
  border: 213px solid #64748b;
}

.border-215 {
  border: 214px solid #64748b;
}

.border-216 {
  border: 215px solid #64748b;
}

.border-217 {
  border: 216px solid #64748b;
}

.border-218 {
  border: 217px solid #64748b;
}

.border-219 {
  border: 218px solid #64748b;
}

.border-220 {
  border: 219px solid #64748b;
}

.border-221 {
  border: 220px solid #64748b;
}

.border-222 {
  border: 221px solid #64748b;
}

.border-223 {
  border: 222px solid #64748b;
}

.border-224 {
  border: 223px solid #64748b;
}

.border-225 {
  border: 224px solid #64748b;
}

.border-226 {
  border: 225px solid #64748b;
}

.border-227 {
  border: 226px solid #64748b;
}

.border-228 {
  border: 227px solid #64748b;
}

.border-229 {
  border: 228px solid #64748b;
}

.border-230 {
  border: 229px solid #64748b;
}

.border-231 {
  border: 230px solid #64748b;
}

.border-232 {
  border: 231px solid #64748b;
}

.border-233 {
  border: 232px solid #64748b;
}

.border-234 {
  border: 233px solid #64748b;
}

.border-235 {
  border: 234px solid #64748b;
}

.border-236 {
  border: 235px solid #64748b;
}

.border-237 {
  border: 236px solid #64748b;
}

.border-238 {
  border: 237px solid #64748b;
}

.border-239 {
  border: 238px solid #64748b;
}

.border-240 {
  border: 239px solid #64748b;
}

.border-241 {
  border: 240px solid #64748b;
}

.border-242 {
  border: 241px solid #64748b;
}

.border-243 {
  border: 242px solid #64748b;
}

.border-244 {
  border: 243px solid #64748b;
}

.border-245 {
  border: 244px solid #64748b;
}

.border-246 {
  border: 245px solid #64748b;
}

.border-247 {
  border: 246px solid #64748b;
}

.border-248 {
  border: 247px solid #64748b;
}

.border-249 {
  border: 248px solid #64748b;
}

.border-250 {
  border: 249px solid #64748b;
}

.border-251 {
  border: 250px solid #64748b;
}

.border-252 {
  border: 251px solid #64748b;
}

.border-253 {
  border: 252px solid #64748b;
}

.border-254 {
  border: 253px solid #64748b;
}

.border-255 {
  border: 254px solid #64748b;
}

.border-256 {
  border: 255px solid #64748b;
}

.border-257 {
  border: 256px solid #64748b;
}

.border-258 {
  border: 257px solid #64748b;
}

.border-259 {
  border: 258px solid #64748b;
}

.border-260 {
  border: 259px solid #64748b;
}

.border-261 {
  border: 260px solid #64748b;
}

.border-262 {
  border: 261px solid #64748b;
}

.border-263 {
  border: 262px solid #64748b;
}

.border-264 {
  border: 263px solid #64748b;
}

.border-265 {
  border: 264px solid #64748b;
}

.border-266 {
  border: 265px solid #64748b;
}

.border-267 {
  border: 266px solid #64748b;
}

.border-268 {
  border: 267px solid #64748b;
}

.border-269 {
  border: 268px solid #64748b;
}

.border-270 {
  border: 269px solid #64748b;
}

.border-271 {
  border: 270px solid #64748b;
}

.border-272 {
  border: 271px solid #64748b;
}

.border-273 {
  border: 272px solid #64748b;
}

.border-274 {
  border: 273px solid #64748b;
}

.border-275 {
  border: 274px solid #64748b;
}

.border-276 {
  border: 275px solid #64748b;
}

.border-277 {
  border: 276px solid #64748b;
}

.border-278 {
  border: 277px solid #64748b;
}

.border-279 {
  border: 278px solid #64748b;
}

.border-280 {
  border: 279px solid #64748b;
}

.border-281 {
  border: 280px solid #64748b;
}

.border-282 {
  border: 281px solid #64748b;
}

.border-283 {
  border: 282px solid #64748b;
}

.border-284 {
  border: 283px solid #64748b;
}

.border-285 {
  border: 284px solid #64748b;
}

.border-286 {
  border: 285px solid #64748b;
}

.border-287 {
  border: 286px solid #64748b;
}

.border-288 {
  border: 287px solid #64748b;
}

.border-289 {
  border: 288px solid #64748b;
}

.border-290 {
  border: 289px solid #64748b;
}

.border-291 {
  border: 290px solid #64748b;
}

.border-292 {
  border: 291px solid #64748b;
}

.border-293 {
  border: 292px solid #64748b;
}

.border-294 {
  border: 293px solid #64748b;
}

.border-295 {
  border: 294px solid #64748b;
}

.border-296 {
  border: 295px solid #64748b;
}

.border-297 {
  border: 296px solid #64748b;
}

.border-298 {
  border: 297px solid #64748b;
}

.border-299 {
  border: 298px solid #64748b;
}

.border-300 {
  border: 299px solid #64748b;
}

.border-301 {
  border: 300px solid #64748b;
}

.border-302 {
  border: 301px solid #64748b;
}

.border-303 {
  border: 302px solid #64748b;
}

.border-304 {
  border: 303px solid #64748b;
}

.border-305 {
  border: 304px solid #64748b;
}

.border-306 {
  border: 305px solid #64748b;
}

.border-307 {
  border: 306px solid #64748b;
}

.border-308 {
  border: 307px solid #64748b;
}

.border-309 {
  border: 308px solid #64748b;
}

.border-310 {
  border: 309px solid #64748b;
}

.border-311 {
  border: 310px solid #64748b;
}

.border-312 {
  border: 311px solid #64748b;
}

.border-313 {
  border: 312px solid #64748b;
}

.border-314 {
  border: 313px solid #64748b;
}

.border-315 {
  border: 314px solid #64748b;
}

.border-316 {
  border: 315px solid #64748b;
}

.border-317 {
  border: 316px solid #64748b;
}

.border-318 {
  border: 317px solid #64748b;
}

.border-319 {
  border: 318px solid #64748b;
}

.border-320 {
  border: 319px solid #64748b;
}

.border-321 {
  border: 320px solid #64748b;
}

.border-322 {
  border: 321px solid #64748b;
}

.border-323 {
  border: 322px solid #64748b;
}

.border-324 {
  border: 323px solid #64748b;
}

.border-325 {
  border: 324px solid #64748b;
}

.border-326 {
  border: 325px solid #64748b;
}

.border-327 {
  border: 326px solid #64748b;
}

.border-328 {
  border: 327px solid #64748b;
}

.border-329 {
  border: 328px solid #64748b;
}

.border-330 {
  border: 329px solid #64748b;
}

.border-331 {
  border: 330px solid #64748b;
}

.border-332 {
  border: 331px solid #64748b;
}

.border-333 {
  border: 332px solid #64748b;
}

.border-334 {
  border: 333px solid #64748b;
}

.border-335 {
  border: 334px solid #64748b;
}

.border-336 {
  border: 335px solid #64748b;
}

.border-337 {
  border: 336px solid #64748b;
}

.border-338 {
  border: 337px solid #64748b;
}

.border-339 {
  border: 338px solid #64748b;
}

.border-340 {
  border: 339px solid #64748b;
}

.border-341 {
  border: 340px solid #64748b;
}

.border-342 {
  border: 341px solid #64748b;
}

.border-343 {
  border: 342px solid #64748b;
}

.border-344 {
  border: 343px solid #64748b;
}

.border-345 {
  border: 344px solid #64748b;
}

.border-346 {
  border: 345px solid #64748b;
}

.border-347 {
  border: 346px solid #64748b;
}

.border-348 {
  border: 347px solid #64748b;
}

.border-349 {
  border: 348px solid #64748b;
}

.border-350 {
  border: 349px solid #64748b;
}

.border-351 {
  border: 350px solid #64748b;
}

.border-352 {
  border: 351px solid #64748b;
}

.border-353 {
  border: 352px solid #64748b;
}

.border-354 {
  border: 353px solid #64748b;
}

.border-355 {
  border: 354px solid #64748b;
}

.border-356 {
  border: 355px solid #64748b;
}

.border-357 {
  border: 356px solid #64748b;
}

.border-358 {
  border: 357px solid #64748b;
}

.border-359 {
  border: 358px solid #64748b;
}

.border-360 {
  border: 359px solid #64748b;
}

.border-361 {
  border: 360px solid #64748b;
}

.border-362 {
  border: 361px solid #64748b;
}

.border-363 {
  border: 362px solid #64748b;
}

.border-364 {
  border: 363px solid #64748b;
}

.border-365 {
  border: 364px solid #64748b;
}

.border-366 {
  border: 365px solid #64748b;
}

.border-367 {
  border: 366px solid #64748b;
}

.border-368 {
  border: 367px solid #64748b;
}

.border-369 {
  border: 368px solid #64748b;
}

.border-370 {
  border: 369px solid #64748b;
}

.border-371 {
  border: 370px solid #64748b;
}

.border-372 {
  border: 371px solid #64748b;
}

.border-373 {
  border: 372px solid #64748b;
}

.border-374 {
  border: 373px solid #64748b;
}

.border-375 {
  border: 374px solid #64748b;
}

.border-376 {
  border: 375px solid #64748b;
}

.border-377 {
  border: 376px solid #64748b;
}

.border-378 {
  border: 377px solid #64748b;
}

.border-379 {
  border: 378px solid #64748b;
}

.border-380 {
  border: 379px solid #64748b;
}

.border-381 {
  border: 380px solid #64748b;
}

.border-382 {
  border: 381px solid #64748b;
}

.border-383 {
  border: 382px solid #64748b;
}

.border-384 {
  border: 383px solid #64748b;
}

.border-385 {
  border: 384px solid #64748b;
}

.border-386 {
  border: 385px solid #64748b;
}

.border-387 {
  border: 386px solid #64748b;
}

.border-388 {
  border: 387px solid #64748b;
}

.border-389 {
  border: 388px solid #64748b;
}

.border-390 {
  border: 389px solid #64748b;
}

.border-391 {
  border: 390px solid #64748b;
}

.border-392 {
  border: 391px solid #64748b;
}

.border-393 {
  border: 392px solid #64748b;
}

.border-394 {
  border: 393px solid #64748b;
}

.border-395 {
  border: 394px solid #64748b;
}

.border-396 {
  border: 395px solid #64748b;
}

.border-397 {
  border: 396px solid #64748b;
}

.border-398 {
  border: 397px solid #64748b;
}

.border-399 {
  border: 398px solid #64748b;
}

.border-400 {
  border: 399px solid #64748b;
}

.border-401 {
  border: 400px solid #64748b;
}

.border-402 {
  border: 401px solid #64748b;
}

.border-403 {
  border: 402px solid #64748b;
}

.border-404 {
  border: 403px solid #64748b;
}

.border-405 {
  border: 404px solid #64748b;
}

.border-406 {
  border: 405px solid #64748b;
}

.border-407 {
  border: 406px solid #64748b;
}

.border-408 {
  border: 407px solid #64748b;
}

.border-409 {
  border: 408px solid #64748b;
}

.border-410 {
  border: 409px solid #64748b;
}

.border-411 {
  border: 410px solid #64748b;
}

.border-412 {
  border: 411px solid #64748b;
}

.border-413 {
  border: 412px solid #64748b;
}

.border-414 {
  border: 413px solid #64748b;
}

.border-415 {
  border: 414px solid #64748b;
}

.border-416 {
  border: 415px solid #64748b;
}

.border-417 {
  border: 416px solid #64748b;
}

.border-418 {
  border: 417px solid #64748b;
}

.border-419 {
  border: 418px solid #64748b;
}

.border-420 {
  border: 419px solid #64748b;
}

.border-421 {
  border: 420px solid #64748b;
}

.border-422 {
  border: 421px solid #64748b;
}

.border-423 {
  border: 422px solid #64748b;
}

.border-424 {
  border: 423px solid #64748b;
}

.border-425 {
  border: 424px solid #64748b;
}

.border-426 {
  border: 425px solid #64748b;
}

.border-427 {
  border: 426px solid #64748b;
}

.border-428 {
  border: 427px solid #64748b;
}

.border-429 {
  border: 428px solid #64748b;
}

.border-430 {
  border: 429px solid #64748b;
}

.border-431 {
  border: 430px solid #64748b;
}

.border-432 {
  border: 431px solid #64748b;
}

.border-433 {
  border: 432px solid #64748b;
}

.border-434 {
  border: 433px solid #64748b;
}

.border-435 {
  border: 434px solid #64748b;
}

.border-436 {
  border: 435px solid #64748b;
}

.border-437 {
  border: 436px solid #64748b;
}

.border-438 {
  border: 437px solid #64748b;
}

.border-439 {
  border: 438px solid #64748b;
}

.border-440 {
  border: 439px solid #64748b;
}

.border-441 {
  border: 440px solid #64748b;
}

.border-442 {
  border: 441px solid #64748b;
}

.border-443 {
  border: 442px solid #64748b;
}

.border-444 {
  border: 443px solid #64748b;
}

.border-445 {
  border: 444px solid #64748b;
}

.border-446 {
  border: 445px solid #64748b;
}

.border-447 {
  border: 446px solid #64748b;
}

.border-448 {
  border: 447px solid #64748b;
}

.border-449 {
  border: 448px solid #64748b;
}

.border-450 {
  border: 449px solid #64748b;
}

.border-451 {
  border: 450px solid #64748b;
}

.border-452 {
  border: 451px solid #64748b;
}

.border-453 {
  border: 452px solid #64748b;
}

.border-454 {
  border: 453px solid #64748b;
}

.border-455 {
  border: 454px solid #64748b;
}

.border-456 {
  border: 455px solid #64748b;
}

.border-457 {
  border: 456px solid #64748b;
}

.border-458 {
  border: 457px solid #64748b;
}

.border-459 {
  border: 458px solid #64748b;
}

.border-460 {
  border: 459px solid #64748b;
}

.border-461 {
  border: 460px solid #64748b;
}

.border-462 {
  border: 461px solid #64748b;
}

.border-463 {
  border: 462px solid #64748b;
}

.border-464 {
  border: 463px solid #64748b;
}

.border-465 {
  border: 464px solid #64748b;
}

.border-466 {
  border: 465px solid #64748b;
}

.border-467 {
  border: 466px solid #64748b;
}

.border-468 {
  border: 467px solid #64748b;
}

.border-469 {
  border: 468px solid #64748b;
}

.border-470 {
  border: 469px solid #64748b;
}

.border-471 {
  border: 470px solid #64748b;
}

.border-472 {
  border: 471px solid #64748b;
}

.border-473 {
  border: 472px solid #64748b;
}

.border-474 {
  border: 473px solid #64748b;
}

.border-475 {
  border: 474px solid #64748b;
}

.border-476 {
  border: 475px solid #64748b;
}

.border-477 {
  border: 476px solid #64748b;
}

.border-478 {
  border: 477px solid #64748b;
}

.border-479 {
  border: 478px solid #64748b;
}

.border-480 {
  border: 479px solid #64748b;
}

.border-481 {
  border: 480px solid #64748b;
}

.border-482 {
  border: 481px solid #64748b;
}

.border-483 {
  border: 482px solid #64748b;
}

.border-484 {
  border: 483px solid #64748b;
}

.border-485 {
  border: 484px solid #64748b;
}

.border-486 {
  border: 485px solid #64748b;
}

.border-487 {
  border: 486px solid #64748b;
}

.border-488 {
  border: 487px solid #64748b;
}

.border-489 {
  border: 488px solid #64748b;
}

.border-490 {
  border: 489px solid #64748b;
}

.border-491 {
  border: 490px solid #64748b;
}

.border-492 {
  border: 491px solid #64748b;
}

.border-493 {
  border: 492px solid #64748b;
}

.border-494 {
  border: 493px solid #64748b;
}

.border-495 {
  border: 494px solid #64748b;
}

.border-496 {
  border: 495px solid #64748b;
}

.border-497 {
  border: 496px solid #64748b;
}

.border-498 {
  border: 497px solid #64748b;
}

.border-499 {
  border: 498px solid #64748b;
}

.border-500 {
  border: 499px solid #64748b;
}

.border-501 {
  border: 500px solid #64748b;
}

.border-502 {
  border: 501px solid #64748b;
}

.border-503 {
  border: 502px solid #64748b;
}

.border-504 {
  border: 503px solid #64748b;
}

.border-505 {
  border: 504px solid #64748b;
}

.border-506 {
  border: 505px solid #64748b;
}

.border-507 {
  border: 506px solid #64748b;
}

.border-508 {
  border: 507px solid #64748b;
}

.border-509 {
  border: 508px solid #64748b;
}

.border-510 {
  border: 509px solid #64748b;
}

.border-511 {
  border: 510px solid #64748b;
}

.border-512 {
  border: 511px solid #64748b;
}

.border-513 {
  border: 512px solid #64748b;
}

.border-514 {
  border: 513px solid #64748b;
}

.border-515 {
  border: 514px solid #64748b;
}

.border-516 {
  border: 515px solid #64748b;
}

.border-517 {
  border: 516px solid #64748b;
}

.border-518 {
  border: 517px solid #64748b;
}

.border-519 {
  border: 518px solid #64748b;
}

.border-520 {
  border: 519px solid #64748b;
}

.border-521 {
  border: 520px solid #64748b;
}

.border-522 {
  border: 521px solid #64748b;
}

.border-523 {
  border: 522px solid #64748b;
}

.border-524 {
  border: 523px solid #64748b;
}

.border-525 {
  border: 524px solid #64748b;
}

.border-526 {
  border: 525px solid #64748b;
}

.border-527 {
  border: 526px solid #64748b;
}

.border-528 {
  border: 527px solid #64748b;
}

.border-529 {
  border: 528px solid #64748b;
}

.border-530 {
  border: 529px solid #64748b;
}

.border-531 {
  border: 530px solid #64748b;
}

.border-532 {
  border: 531px solid #64748b;
}

.border-533 {
  border: 532px solid #64748b;
}

.border-534 {
  border: 533px solid #64748b;
}

.border-535 {
  border: 534px solid #64748b;
}

.border-536 {
  border: 535px solid #64748b;
}

.border-537 {
  border: 536px solid #64748b;
}

.border-538 {
  border: 537px solid #64748b;
}

.border-539 {
  border: 538px solid #64748b;
}

.border-540 {
  border: 539px solid #64748b;
}

.border-541 {
  border: 540px solid #64748b;
}

.border-542 {
  border: 541px solid #64748b;
}

.border-543 {
  border: 542px solid #64748b;
}

.border-544 {
  border: 543px solid #64748b;
}

.border-545 {
  border: 544px solid #64748b;
}

.border-546 {
  border: 545px solid #64748b;
}

.border-547 {
  border: 546px solid #64748b;
}

.border-548 {
  border: 547px solid #64748b;
}

.border-549 {
  border: 548px solid #64748b;
}

.border-550 {
  border: 549px solid #64748b;
}

.border-551 {
  border: 550px solid #64748b;
}

.border-552 {
  border: 551px solid #64748b;
}

.border-553 {
  border: 552px solid #64748b;
}

.border-554 {
  border: 553px solid #64748b;
}

.border-555 {
  border: 554px solid #64748b;
}

.border-556 {
  border: 555px solid #64748b;
}

.border-557 {
  border: 556px solid #64748b;
}

.border-558 {
  border: 557px solid #64748b;
}

.border-559 {
  border: 558px solid #64748b;
}

.border-560 {
  border: 559px solid #64748b;
}

.border-561 {
  border: 560px solid #64748b;
}

.border-562 {
  border: 561px solid #64748b;
}

.border-563 {
  border: 562px solid #64748b;
}

.border-564 {
  border: 563px solid #64748b;
}

.border-565 {
  border: 564px solid #64748b;
}

.border-566 {
  border: 565px solid #64748b;
}

.border-567 {
  border: 566px solid #64748b;
}

.border-568 {
  border: 567px solid #64748b;
}

.border-569 {
  border: 568px solid #64748b;
}

.border-570 {
  border: 569px solid #64748b;
}

.border-571 {
  border: 570px solid #64748b;
}

.border-572 {
  border: 571px solid #64748b;
}

.border-573 {
  border: 572px solid #64748b;
}

.border-574 {
  border: 573px solid #64748b;
}

.border-575 {
  border: 574px solid #64748b;
}

.border-576 {
  border: 575px solid #64748b;
}

.border-577 {
  border: 576px solid #64748b;
}

.border-578 {
  border: 577px solid #64748b;
}

.border-579 {
  border: 578px solid #64748b;
}

.border-580 {
  border: 579px solid #64748b;
}

.border-581 {
  border: 580px solid #64748b;
}

.border-582 {
  border: 581px solid #64748b;
}

.border-583 {
  border: 582px solid #64748b;
}

.border-584 {
  border: 583px solid #64748b;
}

.border-585 {
  border: 584px solid #64748b;
}

.border-586 {
  border: 585px solid #64748b;
}

.border-587 {
  border: 586px solid #64748b;
}

.border-588 {
  border: 587px solid #64748b;
}

.border-589 {
  border: 588px solid #64748b;
}

.border-590 {
  border: 589px solid #64748b;
}

.border-591 {
  border: 590px solid #64748b;
}

.border-592 {
  border: 591px solid #64748b;
}

.border-593 {
  border: 592px solid #64748b;
}

.border-594 {
  border: 593px solid #64748b;
}

.border-595 {
  border: 594px solid #64748b;
}

.border-596 {
  border: 595px solid #64748b;
}

.border-597 {
  border: 596px solid #64748b;
}

.border-598 {
  border: 597px solid #64748b;
}

.border-599 {
  border: 598px solid #64748b;
}

.border-600 {
  border: 599px solid #64748b;
}

.border-601 {
  border: 600px solid #64748b;
}

.border-602 {
  border: 601px solid #64748b;
}

.border-603 {
  border: 602px solid #64748b;
}

.border-604 {
  border: 603px solid #64748b;
}

.border-605 {
  border: 604px solid #64748b;
}

.border-606 {
  border: 605px solid #64748b;
}

.border-607 {
  border: 606px solid #64748b;
}

.border-608 {
  border: 607px solid #64748b;
}

.border-609 {
  border: 608px solid #64748b;
}

.border-610 {
  border: 609px solid #64748b;
}

.border-611 {
  border: 610px solid #64748b;
}

.border-612 {
  border: 611px solid #64748b;
}

.border-613 {
  border: 612px solid #64748b;
}

.border-614 {
  border: 613px solid #64748b;
}

.border-615 {
  border: 614px solid #64748b;
}

.border-616 {
  border: 615px solid #64748b;
}

.border-617 {
  border: 616px solid #64748b;
}

.border-618 {
  border: 617px solid #64748b;
}

.border-619 {
  border: 618px solid #64748b;
}

.border-620 {
  border: 619px solid #64748b;
}

.border-621 {
  border: 620px solid #64748b;
}

.border-622 {
  border: 621px solid #64748b;
}

.border-623 {
  border: 622px solid #64748b;
}

.border-624 {
  border: 623px solid #64748b;
}

.border-625 {
  border: 624px solid #64748b;
}

.border-626 {
  border: 625px solid #64748b;
}

.border-627 {
  border: 626px solid #64748b;
}

.border-628 {
  border: 627px solid #64748b;
}

.border-629 {
  border: 628px solid #64748b;
}

.border-630 {
  border: 629px solid #64748b;
}

.border-631 {
  border: 630px solid #64748b;
}

.border-632 {
  border: 631px solid #64748b;
}

.border-633 {
  border: 632px solid #64748b;
}

.border-634 {
  border: 633px solid #64748b;
}

.border-635 {
  border: 634px solid #64748b;
}

.border-636 {
  border: 635px solid #64748b;
}

.border-637 {
  border: 636px solid #64748b;
}

.border-638 {
  border: 637px solid #64748b;
}

.border-639 {
  border: 638px solid #64748b;
}

.border-640 {
  border: 639px solid #64748b;
}

.border-641 {
  border: 640px solid #64748b;
}

.border-642 {
  border: 641px solid #64748b;
}

.border-643 {
  border: 642px solid #64748b;
}

.border-644 {
  border: 643px solid #64748b;
}

.border-645 {
  border: 644px solid #64748b;
}

.border-646 {
  border: 645px solid #64748b;
}

.border-647 {
  border: 646px solid #64748b;
}

.border-648 {
  border: 647px solid #64748b;
}

.border-649 {
  border: 648px solid #64748b;
}

.border-650 {
  border: 649px solid #64748b;
}

.border-651 {
  border: 650px solid #64748b;
}

.border-652 {
  border: 651px solid #64748b;
}

.border-653 {
  border: 652px solid #64748b;
}

.border-654 {
  border: 653px solid #64748b;
}

.border-655 {
  border: 654px solid #64748b;
}

.border-656 {
  border: 655px solid #64748b;
}

.border-657 {
  border: 656px solid #64748b;
}

.border-658 {
  border: 657px solid #64748b;
}

.border-659 {
  border: 658px solid #64748b;
}

.border-660 {
  border: 659px solid #64748b;
}

.border-661 {
  border: 660px solid #64748b;
}

.border-662 {
  border: 661px solid #64748b;
}

.border-663 {
  border: 662px solid #64748b;
}

.border-664 {
  border: 663px solid #64748b;
}

.border-665 {
  border: 664px solid #64748b;
}

.border-666 {
  border: 665px solid #64748b;
}

.border-667 {
  border: 666px solid #64748b;
}

.border-668 {
  border: 667px solid #64748b;
}

.border-669 {
  border: 668px solid #64748b;
}

.border-670 {
  border: 669px solid #64748b;
}

.border-671 {
  border: 670px solid #64748b;
}

.border-672 {
  border: 671px solid #64748b;
}

.border-673 {
  border: 672px solid #64748b;
}

.border-674 {
  border: 673px solid #64748b;
}

.border-675 {
  border: 674px solid #64748b;
}

.border-676 {
  border: 675px solid #64748b;
}

.border-677 {
  border: 676px solid #64748b;
}

.border-678 {
  border: 677px solid #64748b;
}

.border-679 {
  border: 678px solid #64748b;
}

.border-680 {
  border: 679px solid #64748b;
}

.border-681 {
  border: 680px solid #64748b;
}

.border-682 {
  border: 681px solid #64748b;
}

.border-683 {
  border: 682px solid #64748b;
}

.border-684 {
  border: 683px solid #64748b;
}

.border-685 {
  border: 684px solid #64748b;
}

.border-686 {
  border: 685px solid #64748b;
}

.border-687 {
  border: 686px solid #64748b;
}

.border-688 {
  border: 687px solid #64748b;
}

.border-689 {
  border: 688px solid #64748b;
}

.border-690 {
  border: 689px solid #64748b;
}

.border-691 {
  border: 690px solid #64748b;
}

.border-692 {
  border: 691px solid #64748b;
}

.border-693 {
  border: 692px solid #64748b;
}

.border-694 {
  border: 693px solid #64748b;
}

.border-695 {
  border: 694px solid #64748b;
}

.border-696 {
  border: 695px solid #64748b;
}

.border-697 {
  border: 696px solid #64748b;
}

.border-698 {
  border: 697px solid #64748b;
}

.border-699 {
  border: 698px solid #64748b;
}

.border-700 {
  border: 699px solid #64748b;
}

.border-701 {
  border: 700px solid #64748b;
}

.border-702 {
  border: 701px solid #64748b;
}

.border-703 {
  border: 702px solid #64748b;
}

.border-704 {
  border: 703px solid #64748b;
}

.border-705 {
  border: 704px solid #64748b;
}

.border-706 {
  border: 705px solid #64748b;
}

.border-707 {
  border: 706px solid #64748b;
}

.border-708 {
  border: 707px solid #64748b;
}

.border-709 {
  border: 708px solid #64748b;
}

.border-710 {
  border: 709px solid #64748b;
}

.border-711 {
  border: 710px solid #64748b;
}

.border-712 {
  border: 711px solid #64748b;
}

.border-713 {
  border: 712px solid #64748b;
}

.border-714 {
  border: 713px solid #64748b;
}

.border-715 {
  border: 714px solid #64748b;
}

.border-716 {
  border: 715px solid #64748b;
}

.border-717 {
  border: 716px solid #64748b;
}

.border-718 {
  border: 717px solid #64748b;
}

.border-719 {
  border: 718px solid #64748b;
}

.border-720 {
  border: 719px solid #64748b;
}

.border-721 {
  border: 720px solid #64748b;
}

.border-722 {
  border: 721px solid #64748b;
}

.border-723 {
  border: 722px solid #64748b;
}

.border-724 {
  border: 723px solid #64748b;
}

.border-725 {
  border: 724px solid #64748b;
}

.border-726 {
  border: 725px solid #64748b;
}

.border-727 {
  border: 726px solid #64748b;
}

.border-728 {
  border: 727px solid #64748b;
}

.border-729 {
  border: 728px solid #64748b;
}

.border-730 {
  border: 729px solid #64748b;
}

.border-731 {
  border: 730px solid #64748b;
}

.border-732 {
  border: 731px solid #64748b;
}

.border-733 {
  border: 732px solid #64748b;
}

.border-734 {
  border: 733px solid #64748b;
}

.border-735 {
  border: 734px solid #64748b;
}

.border-736 {
  border: 735px solid #64748b;
}

.border-737 {
  border: 736px solid #64748b;
}

.border-738 {
  border: 737px solid #64748b;
}

.border-739 {
  border: 738px solid #64748b;
}

.border-740 {
  border: 739px solid #64748b;
}

.border-741 {
  border: 740px solid #64748b;
}

.border-742 {
  border: 741px solid #64748b;
}

.border-743 {
  border: 742px solid #64748b;
}

.border-744 {
  border: 743px solid #64748b;
}

.border-745 {
  border: 744px solid #64748b;
}

.border-746 {
  border: 745px solid #64748b;
}

.border-747 {
  border: 746px solid #64748b;
}

.border-748 {
  border: 747px solid #64748b;
}

.border-749 {
  border: 748px solid #64748b;
}

.border-750 {
  border: 749px solid #64748b;
}

.border-751 {
  border: 750px solid #64748b;
}

.border-752 {
  border: 751px solid #64748b;
}

.border-753 {
  border: 752px solid #64748b;
}

.border-754 {
  border: 753px solid #64748b;
}

.border-755 {
  border: 754px solid #64748b;
}

.border-756 {
  border: 755px solid #64748b;
}

.border-757 {
  border: 756px solid #64748b;
}

.border-758 {
  border: 757px solid #64748b;
}

.border-759 {
  border: 758px solid #64748b;
}

.border-760 {
  border: 759px solid #64748b;
}

.border-761 {
  border: 760px solid #64748b;
}

.border-762 {
  border: 761px solid #64748b;
}

.border-763 {
  border: 762px solid #64748b;
}

.border-764 {
  border: 763px solid #64748b;
}

.border-765 {
  border: 764px solid #64748b;
}

.border-766 {
  border: 765px solid #64748b;
}

.border-767 {
  border: 766px solid #64748b;
}

.border-768 {
  border: 767px solid #64748b;
}

.border-769 {
  border: 768px solid #64748b;
}

.border-770 {
  border: 769px solid #64748b;
}

.border-771 {
  border: 770px solid #64748b;
}

.border-772 {
  border: 771px solid #64748b;
}

.border-773 {
  border: 772px solid #64748b;
}

.border-774 {
  border: 773px solid #64748b;
}

.border-775 {
  border: 774px solid #64748b;
}

.border-776 {
  border: 775px solid #64748b;
}

.border-777 {
  border: 776px solid #64748b;
}

.border-778 {
  border: 777px solid #64748b;
}

.border-779 {
  border: 778px solid #64748b;
}

.border-780 {
  border: 779px solid #64748b;
}

.border-781 {
  border: 780px solid #64748b;
}

.border-782 {
  border: 781px solid #64748b;
}

.border-783 {
  border: 782px solid #64748b;
}

.border-784 {
  border: 783px solid #64748b;
}

.border-785 {
  border: 784px solid #64748b;
}

.border-786 {
  border: 785px solid #64748b;
}

.border-787 {
  border: 786px solid #64748b;
}

.border-788 {
  border: 787px solid #64748b;
}

.border-789 {
  border: 788px solid #64748b;
}

.border-790 {
  border: 789px solid #64748b;
}

.border-791 {
  border: 790px solid #64748b;
}

.border-792 {
  border: 791px solid #64748b;
}

.border-793 {
  border: 792px solid #64748b;
}

.border-794 {
  border: 793px solid #64748b;
}

.border-795 {
  border: 794px solid #64748b;
}

.border-796 {
  border: 795px solid #64748b;
}

.border-797 {
  border: 796px solid #64748b;
}

.border-798 {
  border: 797px solid #64748b;
}

.border-799 {
  border: 798px solid #64748b;
}

.border-800 {
  border: 799px solid #64748b;
}

.border-801 {
  border: 800px solid #64748b;
}

.border-802 {
  border: 801px solid #64748b;
}

.border-803 {
  border: 802px solid #64748b;
}

.border-804 {
  border: 803px solid #64748b;
}

.border-805 {
  border: 804px solid #64748b;
}

.border-806 {
  border: 805px solid #64748b;
}

.border-807 {
  border: 806px solid #64748b;
}

.border-808 {
  border: 807px solid #64748b;
}

.border-809 {
  border: 808px solid #64748b;
}

.border-810 {
  border: 809px solid #64748b;
}

.border-811 {
  border: 810px solid #64748b;
}

.border-812 {
  border: 811px solid #64748b;
}

.border-813 {
  border: 812px solid #64748b;
}

.border-814 {
  border: 813px solid #64748b;
}

.border-815 {
  border: 814px solid #64748b;
}

.border-816 {
  border: 815px solid #64748b;
}

.border-817 {
  border: 816px solid #64748b;
}

.border-818 {
  border: 817px solid #64748b;
}

.border-819 {
  border: 818px solid #64748b;
}

.border-820 {
  border: 819px solid #64748b;
}

.border-821 {
  border: 820px solid #64748b;
}

.border-822 {
  border: 821px solid #64748b;
}

.border-823 {
  border: 822px solid #64748b;
}

.border-824 {
  border: 823px solid #64748b;
}

.border-825 {
  border: 824px solid #64748b;
}

.border-826 {
  border: 825px solid #64748b;
}

.border-827 {
  border: 826px solid #64748b;
}

.border-828 {
  border: 827px solid #64748b;
}

.border-829 {
  border: 828px solid #64748b;
}

.border-830 {
  border: 829px solid #64748b;
}

.border-831 {
  border: 830px solid #64748b;
}

.border-832 {
  border: 831px solid #64748b;
}

.border-833 {
  border: 832px solid #64748b;
}

.border-834 {
  border: 833px solid #64748b;
}

.border-835 {
  border: 834px solid #64748b;
}

.border-836 {
  border: 835px solid #64748b;
}

.border-837 {
  border: 836px solid #64748b;
}

.border-838 {
  border: 837px solid #64748b;
}

.border-839 {
  border: 838px solid #64748b;
}

.border-840 {
  border: 839px solid #64748b;
}

.border-841 {
  border: 840px solid #64748b;
}

.border-842 {
  border: 841px solid #64748b;
}

.border-843 {
  border: 842px solid #64748b;
}

.border-844 {
  border: 843px solid #64748b;
}

.border-845 {
  border: 844px solid #64748b;
}

.border-846 {
  border: 845px solid #64748b;
}

.border-847 {
  border: 846px solid #64748b;
}

.border-848 {
  border: 847px solid #64748b;
}

.border-849 {
  border: 848px solid #64748b;
}

.border-850 {
  border: 849px solid #64748b;
}

.border-851 {
  border: 850px solid #64748b;
}

.border-852 {
  border: 851px solid #64748b;
}

.border-853 {
  border: 852px solid #64748b;
}

.border-854 {
  border: 853px solid #64748b;
}

.border-855 {
  border: 854px solid #64748b;
}

.border-856 {
  border: 855px solid #64748b;
}

.border-857 {
  border: 856px solid #64748b;
}

.border-858 {
  border: 857px solid #64748b;
}

.border-859 {
  border: 858px solid #64748b;
}

.border-860 {
  border: 859px solid #64748b;
}

.border-861 {
  border: 860px solid #64748b;
}

.border-862 {
  border: 861px solid #64748b;
}

.border-863 {
  border: 862px solid #64748b;
}

.border-864 {
  border: 863px solid #64748b;
}

.border-865 {
  border: 864px solid #64748b;
}

.border-866 {
  border: 865px solid #64748b;
}

.border-867 {
  border: 866px solid #64748b;
}

.border-868 {
  border: 867px solid #64748b;
}

.border-869 {
  border: 868px solid #64748b;
}

.border-870 {
  border: 869px solid #64748b;
}

.border-871 {
  border: 870px solid #64748b;
}

.border-872 {
  border: 871px solid #64748b;
}

.border-873 {
  border: 872px solid #64748b;
}

.border-874 {
  border: 873px solid #64748b;
}

.border-875 {
  border: 874px solid #64748b;
}

.border-876 {
  border: 875px solid #64748b;
}

.border-877 {
  border: 876px solid #64748b;
}

.border-878 {
  border: 877px solid #64748b;
}

.border-879 {
  border: 878px solid #64748b;
}

.border-880 {
  border: 879px solid #64748b;
}

.border-881 {
  border: 880px solid #64748b;
}

.border-882 {
  border: 881px solid #64748b;
}

.border-883 {
  border: 882px solid #64748b;
}

.border-884 {
  border: 883px solid #64748b;
}

.border-885 {
  border: 884px solid #64748b;
}

.border-886 {
  border: 885px solid #64748b;
}

.border-887 {
  border: 886px solid #64748b;
}

.border-888 {
  border: 887px solid #64748b;
}

.border-889 {
  border: 888px solid #64748b;
}

.border-890 {
  border: 889px solid #64748b;
}

.border-891 {
  border: 890px solid #64748b;
}

.border-892 {
  border: 891px solid #64748b;
}

.border-893 {
  border: 892px solid #64748b;
}

.border-894 {
  border: 893px solid #64748b;
}

.border-895 {
  border: 894px solid #64748b;
}

.border-896 {
  border: 895px solid #64748b;
}

.border-897 {
  border: 896px solid #64748b;
}

.border-898 {
  border: 897px solid #64748b;
}

.border-899 {
  border: 898px solid #64748b;
}

.border-900 {
  border: 899px solid #64748b;
}

.border-901 {
  border: 900px solid #64748b;
}

.border-902 {
  border: 901px solid #64748b;
}

.border-903 {
  border: 902px solid #64748b;
}

.border-904 {
  border: 903px solid #64748b;
}

.border-905 {
  border: 904px solid #64748b;
}

.border-906 {
  border: 905px solid #64748b;
}

.border-907 {
  border: 906px solid #64748b;
}

.border-908 {
  border: 907px solid #64748b;
}

.border-909 {
  border: 908px solid #64748b;
}

.border-910 {
  border: 909px solid #64748b;
}

.border-911 {
  border: 910px solid #64748b;
}

.border-912 {
  border: 911px solid #64748b;
}

.border-913 {
  border: 912px solid #64748b;
}

.border-914 {
  border: 913px solid #64748b;
}

.border-915 {
  border: 914px solid #64748b;
}

.border-916 {
  border: 915px solid #64748b;
}

.border-917 {
  border: 916px solid #64748b;
}

.border-918 {
  border: 917px solid #64748b;
}

.border-919 {
  border: 918px solid #64748b;
}

.border-920 {
  border: 919px solid #64748b;
}

.border-921 {
  border: 920px solid #64748b;
}

.border-922 {
  border: 921px solid #64748b;
}

.border-923 {
  border: 922px solid #64748b;
}

.border-924 {
  border: 923px solid #64748b;
}

.border-925 {
  border: 924px solid #64748b;
}

.border-926 {
  border: 925px solid #64748b;
}

.border-927 {
  border: 926px solid #64748b;
}

.border-928 {
  border: 927px solid #64748b;
}

.border-929 {
  border: 928px solid #64748b;
}

.border-930 {
  border: 929px solid #64748b;
}

.border-931 {
  border: 930px solid #64748b;
}

.border-932 {
  border: 931px solid #64748b;
}

.border-933 {
  border: 932px solid #64748b;
}

.border-934 {
  border: 933px solid #64748b;
}

.border-935 {
  border: 934px solid #64748b;
}

.border-936 {
  border: 935px solid #64748b;
}

.border-937 {
  border: 936px solid #64748b;
}

.border-938 {
  border: 937px solid #64748b;
}

.border-939 {
  border: 938px solid #64748b;
}

.border-940 {
  border: 939px solid #64748b;
}

.border-941 {
  border: 940px solid #64748b;
}

.border-942 {
  border: 941px solid #64748b;
}

.border-943 {
  border: 942px solid #64748b;
}

.border-944 {
  border: 943px solid #64748b;
}

.border-945 {
  border: 944px solid #64748b;
}

.border-946 {
  border: 945px solid #64748b;
}

.border-947 {
  border: 946px solid #64748b;
}

.border-948 {
  border: 947px solid #64748b;
}

.border-949 {
  border: 948px solid #64748b;
}

.border-950 {
  border: 949px solid #64748b;
}

.border-951 {
  border: 950px solid #64748b;
}

.border-952 {
  border: 951px solid #64748b;
}

.border-953 {
  border: 952px solid #64748b;
}

.border-954 {
  border: 953px solid #64748b;
}

.border-955 {
  border: 954px solid #64748b;
}

.border-956 {
  border: 955px solid #64748b;
}

.border-957 {
  border: 956px solid #64748b;
}

.border-958 {
  border: 957px solid #64748b;
}

.border-959 {
  border: 958px solid #64748b;
}

.border-960 {
  border: 959px solid #64748b;
}

.border-961 {
  border: 960px solid #64748b;
}

.border-962 {
  border: 961px solid #64748b;
}

.border-963 {
  border: 962px solid #64748b;
}

.border-964 {
  border: 963px solid #64748b;
}

.border-965 {
  border: 964px solid #64748b;
}

.border-966 {
  border: 965px solid #64748b;
}

.border-967 {
  border: 966px solid #64748b;
}

.border-968 {
  border: 967px solid #64748b;
}

.border-969 {
  border: 968px solid #64748b;
}

.border-970 {
  border: 969px solid #64748b;
}

.border-971 {
  border: 970px solid #64748b;
}

.border-972 {
  border: 971px solid #64748b;
}

.border-973 {
  border: 972px solid #64748b;
}

.border-974 {
  border: 973px solid #64748b;
}

.border-975 {
  border: 974px solid #64748b;
}

.border-976 {
  border: 975px solid #64748b;
}

.border-977 {
  border: 976px solid #64748b;
}

.border-978 {
  border: 977px solid #64748b;
}

.border-979 {
  border: 978px solid #64748b;
}

.border-980 {
  border: 979px solid #64748b;
}

.border-981 {
  border: 980px solid #64748b;
}

.border-982 {
  border: 981px solid #64748b;
}

.border-983 {
  border: 982px solid #64748b;
}

.border-984 {
  border: 983px solid #64748b;
}

.border-985 {
  border: 984px solid #64748b;
}

.border-986 {
  border: 985px solid #64748b;
}

.border-987 {
  border: 986px solid #64748b;
}

.border-988 {
  border: 987px solid #64748b;
}

.border-989 {
  border: 988px solid #64748b;
}

.border-990 {
  border: 989px solid #64748b;
}

.border-991 {
  border: 990px solid #64748b;
}

.border-992 {
  border: 991px solid #64748b;
}

.border-993 {
  border: 992px solid #64748b;
}

.border-994 {
  border: 993px solid #64748b;
}

.border-995 {
  border: 994px solid #64748b;
}

.border-996 {
  border: 995px solid #64748b;
}

.border-997 {
  border: 996px solid #64748b;
}

.border-998 {
  border: 997px solid #64748b;
}

.border-999 {
  border: 998px solid #64748b;
}

.border-1000 {
  border: 999px solid #64748b;
}