$UseMargin: mg;
$UseMarginY: mgy;
$UseMarginX: mgx;
$UsePadding: pg;
$UsePaddingY: pgy;
$UsePaddingX: pgx;
$UseRounded: borderRadius;
$UseBorder: border;
$UseRotate: rotate;
$UseTransition: transition;
$UseWidth: width;
$UseHeight: height;
