@use './_variables' as vars;

@for $i from 1 to 1000 {
  .#{vars.$UseMargin}-#{$i + 1} {
    margin: $i * 1px;
  }
}
@for $i from 1 to 1000 {
  .#{vars.$UseMarginY}-#{$i + 1} {
    margin-top: $i * 1px;
    margin-bottom: $i * 1px;
  }
}
@for $i from 1 to 1000 {
  .#{vars.$UseMarginX}-#{$i + 1} {
    margin-left: $i * 1px;
    margin-right: $i * 1px;
  }
}
