@use './_variables' as vars;

@for $i from 1 to 1000 {
  .#{vars.$UsePadding}-#{$i + 1} {
    padding: $i * 1px;
  }
}
@for $i from 1 to 1000 {
  .#{vars.$UsePaddingY}-#{$i + 1} {
    padding-top: $i * 1px;
    padding-bottom: $i * 1px;
  }
}
@for $i from 1 to 1000 {
  .#{vars.$UsePaddingX}-#{$i + 1} {
    padding-left: $i * 1px;
    padding-right: $i * 1px;
  }
}
