@use './_MixinStyle' as mixins;
@use './_variables' as vars;

.hovertext:hover {
  @include mixins.hoverText;
}

.text {
  color: #adbacd;
}

.text:hover {
  color: #64748b;
  transition: all 0.3s linear;
}
